@model PostViewModel

@{

}<h2>Editando post</h2>


<form class="login100-form validate-form" asp-controller="Posts" asp-action="EditPost" method="post" enctype="multipart/form-data">
    <span class="login100-form-title p-b-59">
        Editing a post!
    </span>

    <div class="wrap-input100 validate-input">
        <input asp-for="UserID" class="input100" value="@TempData["usuarioLogado"]" type="hidden">
    </div>

    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <span class="label-input100">Subtitle</span>
        <input asp-for="Subtitle" class="input100" type="text">
        <span asp-validation-for="Subtitle" class="focus-input100"></span>
    </div>

    <div>
        <label>Image</label>
        <input asp-for="CurrentImage" type="hidden"/>
        <input asp-for="Image" />
    </div>

    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" value="Edit" class="login100-form-btn">
                Edit
            </button>
        </div>
    </div>
</form>

